.loader {
    width: 55px;
    height: 55px;
    display: none;
    border: 3px solid teal;
    border-radius: 50%;
    border-top-color: white;
    border-bottom-color: white;
    animation: 0.4s spin infinite linear;
    position: fixed;
    top: -100%; 
    right: -100%; 
    left: -100%; 
    bottom: -100%;
    margin: auto;
    z-index: 100;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}