.loading-spinner {
    width: 100px;
    height: 100px;
    display: none;
    border: 5px solid green;
    border-radius: 50%;
    border-top-color: white;
    animation: 0.5s spin infinite ease;
    position: fixed;
    top: -100%; 
    right: -100%; 
    left: -100%; 
    bottom: -100%;
    margin: auto;
    z-index: 100;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}